.contenedor
{
    background-color: var(--DarkGrey);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 320px;
    height: 280px;
    border-radius: 10px;  
    align-content:flex-start;
    justify-content:space-between;
    margin-bottom: 35px;
}
@media (min-width: 1440px) {
    .contenedor
  {
      width: 382px;    
      height: 450px;
  }
  
  button{
      width: 80%;
  }
  }