.texto
{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin: 0px 10px 0px 10px;
    width: 90%;
    height: 40%;
    padding: 15px 0px 13px 0px;
}
img
{
    border-radius: 50%;
    height: 80px;
    margin:40px 0px 20px 0px;
}
h2
{
    font-weight: 600;
    color: var(--White);
    line-height: 0px;
}
h3
{
    
    font-weight: 400;
    font-size: 14px;
    color: var(--Green);
    line-height: 0px;
}
p
{
    font-size: 14px;
    color: var(--White);
    line-height: 40px;
}